<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Lugo - Travel Hands Free</title>
        {% load staticfiles %}
	<meta name="viewport" content="width=device-width, initial-scale=1">

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">

	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'lugo/css/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'lugo/css/icomoon.css' %}">
	<!-- Themify Icons-->
	<link rel="stylesheet" href="{% static 'lugo/css/themify-icons.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'lugo/css/bootstrap.css' %}">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{% static 'lugo/css/magnific-popup.css' %}">

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="{% static 'lugo/css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'lugo/css/owl.theme.default.min.css' %}">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static 'lugo/css/style.css' %}">

	<!-- Modernizr JS -->
	<script src="{% static 'lugo/js/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="{% static 'lugo/js/respond.min.js' %}"></script>
	<![endif]-->

	</head>
	<body>

	<div class="gtco-loader"></div>

	<div id="page">
	<nav class="gtco-nav" role="navigation">
		<div class="gtco-container">
			<div class="row">
				<div class="col-sm-2 col-xs-12">
					<div id="gtco-logo"><a href="{% url 'lugo:index' %}"><img src="{% static 'lugo/images/logo.PNG' %}" class="img-responsive" style="width: 60px; float: left; margin-right: 0px; position: relative; top: -12px;" />Lugo<em>.</em></a></div>
				</div>
				<div class="col-xs-10 text-right menu-1 main-nav">
					<ul>
						{% block navbar_elements %}
						<li class="active"><a href="{% url 'lugo:index' %}" data-nav-section="home">Home</a></li>

						<li><a href="#" data-nav-section="features">Features</a></li>
						<li><a href="#" data-nav-section="offers">Special Offers</a></li>
						<li><a href="#" data-nav-section="faq">FAQ</a></li>
						<li><a href="#" data-nav-section="contact">Contact</a></li>
						<li class="btn-cta"><a href="{% url 'lugo:book_ride' %}" class="external" title="Book your ride now"><span>Book your Ride</span></a></li>
                        {% endblock %}
					</ul>
				</div>
			</div>

		</div>
	</nav>
        {% block body %}
        {% endblock %}
    </div>
    <div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>

	<!-- jQuery -->
	<script src="{% static 'lugo/js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'lugo/js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'lugo/js/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'lugo/js/jquery.waypoints.min.js' %}"></script>
	<!-- Carousel -->
	<script src="{% static 'lugo/js/owl.carousel.min.js' %}"></script>
	<!-- countTo -->
	<script src="{% static 'lugo/js/jquery.countTo.js' %}"></script>
	<!-- Magnific Popup -->
	<script src="{% static 'lugo/js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'lugo/js/magnific-popup-options.js' %}"></script>
	<!-- Main -->
	<script src="{% static 'lugo/js/main.js' %}"></script>

	</body>
</html>