{% extends 'lugo/base.html' %}

{% block navbar_elements %}
<!--<li><a href="{% url 'lugo:index' %}">Features</a></li>
<li><a href="{% url 'lugo:index' %}" data-nav-section="offers">Special Offers</a></li>
<li><a href="{% url 'lugo:index' %}" data-nav-section="faq">FAQ</a></li>
<li><a href="{% url 'lugo:index' %}" data-nav-section="contact">Contact</a></li>-->
<li class="btn btn-cta"><a href="{% url 'lugo:index' %}" class="external"><span>Home</span></a></li>
{% endblock %}

{% block body %}

<div class="container-fluid" style="margin-top: 140px;">

    <div class="row">
        <div class="col-sm-12 col-md-offset-3 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Book your Ride</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'lugo/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-8">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

</div>

{% endblock %}