{% extends 'lugo/base.html' %}
{% load staticfiles %}
	{% block body %}
	<div id="gtco-header" data-section="home" class="gtco-cover header-fixed" role="banner" style="background-image:url({% static 'lugo/images/travel.jpg' %});">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-center">
					<div class="display-t">
						<div class="display-tc">
							<h1 class="animate-box" data-animate-effect="fadeIn">LUGO : Luggage Go</h1> <h3 class="animate-box" data-animate-effect="fadeIn"><a href="javascript:;" target="_blank">Travel hands free</a></h3>
							<h2 class="animate-box" data-animate-effect="fadeIn">We are the <a href="javascript:;">India</a>'s first Startup that deals with the Luggage and Goods of the Customers</h2>
							<h2 class="animate-box" data-animate-effect="fadeIn">*Currently functioning as a Ride Booking Service</h2>
							<p class="animate-box" data-animate-effect="fadeIn"><a href="{% url 'lugo:book_ride' %}" class="btn btn-primary btn-lg">Book your Ride</a></p>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	
	<div id="gtco-features" class="border-bottom" data-section="features">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2>Features</h2>
					<br>
					<p>We make it easy to manage your luggage. Go Handsfree now!</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="feature-center">
						<span class="icon">
							<i class="ti-bag"></i>
						</span>
						<h3>Easier Luggage Management</h3>

					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="feature-center">
						<span class="icon">
							<i class="ti-hand-open"></i>
						</span>
						<h3>Travel Hands Free</h3>

					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="feature-center">
						<span class="icon">
							<i class="ti-location-pin"></i>
						</span>
						<h3>Door Step Service</h3>

					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="feature-center">
						<span class="icon">
							<i class="ti-shield"></i>
						</span>
						<h3>Secured and Trust Worthy</h3>

					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-6">
					<div class="feature-center">
						<span class="icon">
							<i class="ti-ticket"></i>
						</span>
						<h3>Special Offers Available</h3>

					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="feature-center">
						<span class="icon">
							<i class="ti-wallet"></i>
						</span>
						<h3>Multiple Payment modes</h3>

					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="feature-center">
						<span class="icon">
							<i class="ti-car"></i>
						</span>
						<h3>Pre-Book & Enjoy your Ride</h3>

					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="gtco-section border-bottom" id="how-it-works" data-section="offers">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-6">

					<div class="gtco-heading">
						<h2 class="gtco-left">Special Offers</h2>
						<h2 class="gtco-left">Ride & Save</h2>
						<p>Exclusive Discount for NITJ Students</p>
					</div>

					<div class="row">

						<div class="col-md-12">
							<div class="feature-left">
								<span class="icon">
									<i class="icon-check"></i>
								</span>
								<div class="feature-copy">
									<h3>Book 4-6 Seats at a time</h3>
									<p>and get <strong>12.5% Discount</strong></p>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="feature-left">
								<span class="icon">
									<i class="icon-check"></i>
								</span>
								<div class="feature-copy">
									<h3>Book 7 or 8 Seats at a time</h3>
									<p>and get <strong>37.5% Discount</strong></p>
								</div>
							</div>
						</div>

					</div>
					<!--<div class="row">
						<div class="col-md-12">
							<p><a href="#" class="btn btn-primary btn-lg btn-block"><i class="icon-apple"></i> Buy This App on App Store</a></p>
						</div>
					</div>-->
				</div>
				<div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
					<img src="{% static 'lugo/images/auto.jpg' %}"  class="img-responsive">
				</div>
			</div>
		</div>
	</div>

	

	<div class="gtco-section" id="gtco-faq" data-section="faq">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2>Frequently Ask Questions</h2>
					<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">

					<div class="gtco-accordion">
						<div class="gtco-accordion-heading">
							<div class="icon"><i class="icon-cross"></i></div>
							<h3>What is Usable?</h3>
						</div>
						<div class="gtco-accordion-content">
							<div class="inner">
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
							</div>
						</div>
					</div>
					<div class="gtco-accordion">
						<div class="gtco-accordion-heading">
							<div class="icon"><i class="icon-cross"></i></div>
							<h3>I have technical problem, who do I email?</h3>
						</div>
						<div class="gtco-accordion-content">
							<div class="inner">
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
							</div>
						</div>
					</div>
					<div class="gtco-accordion">
						<div class="gtco-accordion-heading">
							<div class="icon"><i class="icon-cross"></i></div>
							<h3>How do I use Usable features?</h3>
						</div>
						<div class="gtco-accordion-content">
							<div class="inner">
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
							</div>
						</div>
					</div>

				</div>
				<div class="col-md-6">

					<div class="gtco-accordion">
						<div class="gtco-accordion-heading">
							<div class="icon"><i class="icon-cross"></i></div>
							<h3>What language are available?</h3>
						</div>
						<div class="gtco-accordion-content">
							<div class="inner">
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
							</div>
						</div>
					</div>
					<div class="gtco-accordion">
						<div class="gtco-accordion-heading">
							<div class="icon"><i class="icon-cross"></i></div>
							<h3>Can I have a username that is already taken?</h3>
						</div>
						<div class="gtco-accordion-content">
							<div class="inner">
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
							</div>
						</div>
					</div>
					<div class="gtco-accordion">
						<div class="gtco-accordion-heading">
							<div class="icon"><i class="icon-cross"></i></div>
							<h3>Is Usable free?</h3>
						</div>
						<div class="gtco-accordion-content">
							<div class="inner">
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>



	
	<div id="gtco-contact" data-section="contact" class="gtco-cover gtco-cover-xs" style="background-image:url({%static 'lugo/images/bg_mail2.jpg' %});">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row text-center">
				<div class="display-t">
					<div class="display-tc">
						<div class="col-md-12">
							<h3>Feel free to drop a mail at <a href="#"><strong>lugoservices@gmail.com</strong></a></h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	

	<footer id="gtco-footer" role="contentinfo">
		<div class="gtco-container">
			<div class="row row-pb-md">

				<div class="col-md-4">
					<div class="gtco-widget">
						<h3>About Us</h3>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore eos molestias quod sint ipsum possimus temporibus officia iste perspiciatis consectetur in fugiat repudiandae cum. Totam cupiditate nostrum ut neque ab?</p>
					</div>
				</div>

				<div class="col-md-4 col-md-push-1">
					<div class="gtco-widget">
						<h3>Links</h3>
						<ul class="gtco-footer-links">
							<li><a href="#">Knowledge Base</a></li>
							<li><a href="#">Career</a></li>
							<li><a href="#">Press</a></li>
							<li><a href="#">Terms of services</a></li>
							<li><a href="#">Privacy Policy</a></li>
						</ul>
					</div>
				</div>

				<div class="col-md-4">
					<div class="gtco-widget">
						<h3>Get In Touch</h3>
						<ul class="gtco-quick-contact">
							<li><a href="#"><i class="icon-phone"></i> +91 7837401388, +91 7981404077</a></li>
							<li><a href="#"><i class="icon-mail2"></i> lugoservices@gmail.com</a></li>
							<li><a href="#"><i class="icon-chat"></i> Live Chat</a></li>
						</ul>
					</div>
				</div>

			</div>

			<div class="row copyright">
				<div class="col-md-12">
					<p class="pull-left">
						<small class="block">&copy; 2018. All Rights Reserved.</small>
						<small class="block">Developed by <a href="https://www.linkedin.com/in/kola-akshay-reddy-61890111b/" target="_blank">Akshay Kola</a></small>
					</p>
					<p class="pull-right">
						<ul class="gtco-social-icons pull-right">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
						</ul>
					</p>
				</div>
			</div>

		</div>
	</footer>
	{% endblock %}

