{% extends 'lugo/base.html' %}
{% load staticfiles %}

{% block navbar_elements %}
<!--<li><a href="{% url 'lugo:index' %}">Features</a></li>
<li><a href="{% url 'lugo:index' %}" data-nav-section="offers">Special Offers</a></li>
<li><a href="{% url 'lugo:index' %}" data-nav-section="faq">FAQ</a></li>
<li><a href="{% url 'lugo:index' %}" data-nav-section="contact">Contact</a></li>-->
<li class="btn-cta"><a href="{% url 'lugo:book_ride' %}" class="external" title="Book your ride now"><span>Book another Ride</span></a></li>
{% endblock %}

{% block body %}
<div id= "success" class="container" style="margin-top: 88px;">
  <div class="jumbotron">
        <div class="feature-center">
			<span class="icon">
				<i class="ti-face-smile"></i>
			</span>
				<h2 style="color: #00860b;">Booking Successful!</h2>
                <a class="btn btn-success" href="{% url 'lugo:index' %}">Back to Home Page</a>

        </div>
    <p>In case of any change in plan, please inform at<br> <strong>+91 7837401388</strong> <br> <strong>+91 7981404077</strong></p>
  </div>
</div>

<span class="text-danger" style="margin-left: 105px;">You will receive an SMS or a phone call on the registered mobile number to confirm the booking. Please be available.</span>


{% endblock %}